$dark_bg: #000;
$light_bg: #fff;
$darkBtn: #fddd6c;
$whiteBtn: #3b68f5;

$theme-colors: (
  "darkBtn": $darkBtn,
  "whiteBtn": $whiteBtn,
);

@import "../node_modules/bootstrap/scss/bootstrap.scss";

@import url("https://fonts.googleapis.com/css2?family=Acme&family=Poppins:wght@300;400;500;600&display=swap");

// font-family: 'Acme', sans-serif;
// font-family: 'Poppins', sans-serif;

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.btn {
  transition: 0.5s all;
  padding: 15px 30px;
  border-radius: 2px;
  border: 2px solid transparent;
  &:hover {
    transition: 0.5s all;
    background: none;
  }
  &:focus {
    outline: none !important;
  }
}
.btn-whiteBtn:hover {
  color: black;
}
