// @import "config";
$fonts: Arial, Helvetica, sans-serif;
$background_color: #f4f4f4;
$primary_color: #f99027;
$secondary_color: #3498db;
$other_color: rgba(181, 170, 170, 0.4);

ul,
li,
h1,
h2,
h3,
h4,
h6,
p,
a {
  margin: 0;
  padding: 0;
}

ul {
  display: flex;
  li {
    list-style-type: none;
    padding: 0 10px;
    a {
      color: #000;
      font-weight: 600;
      letter-spacing: 2px;
      transition: 0.5;
      &:hover {
        text-decoration: none;
        color: $primary_color;
      }
    }
  }
}

.navbar {
  background-color: $other_color;
  display: flex;
  justify-content: space-between;

  .brand {
    h2 {
      font-family: $fonts;
      font-weight: 900;
      font-size: 2em;
      letter-spacing: 5px;

      span {
        color: $primary_color;
      }
    }
  }
  .nav {
    // .navItems {
    //   display: flex;
    // }
  }
}
