$bg_color: #000;
$text_color: #fff;
$secondaryText:rgb(252, 173, 2);
$navbar_bg:rgba(82, 156, 82, 0.288);


// Custom Styles For Body
* body{
    background:$bg_color;
    color: $text_color;
    padding: 0;
    margin: 0;

    h1, h2, h3, h4, h5, h6, p, li, ul, ol{
        margin: 0;
        padding: 0;
    }
}

// Custom Styles For All List Item
ul{
    display: flex;
    margin: 0;
    li{
        list-style: none;
        padding: 10px;
        a{
            color: $text_color;
        }
        a:hover{
            text-decoration: none;
            color: $secondaryText;
        }
    }
}

// Start Style For MenuBar
.navbar{
    padding: 0;
    // position: fixed;
    // display: flex;
    // justify-content: space-between;

    .brand{
        padding: 0 25px;
        h2{
            font-weight: 900;
            letter-spacing: 5px;

            span{
                color: $secondaryText;
            }
        }
    }

    li:hover{
        a{
            color: $secondaryText;
            border-bottom: 1px solid $secondaryText;
            
        }
    }
}

.home{
min-height: 100vh;
padding-top: 20px;
// .socialIcons{
//     display: block;
// }
.banner{
    h4 span::before{
        content: " | ";
        color:$secondaryText;
    }
}
}